<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"HH:mm:ss.SSS"} %coloredLevel %logger [%mdc] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="play" level="ERROR" />
    <logger name="akka" level="ERROR" />
    <logger name="com.lightbend.lagom" level="ERROR" />
    <logger name="ru.smslv.akka.dns" level="ERROR" />
    <logger name="org.apache.cassandra" level="ERROR" />
    <logger name="com.datastax.driver" level="ERROR" />
    <logger name="com.datastax.driver.core.ControlConnection" level="ERROR" />
    <logger name="com.bikeride.authentication.impl" level="ERROR" />
    <logger name="org.apache.kafka" level="ERROR" />
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
